.caixa{
    width: 92vw;
    height: 20vh;
    background-color: #B08C00;
    margin-top: 30%;
    margin-left: 2%;
    margin-bottom: -25%;
    border-radius: 10px;
    border: solid #fff 3px;
}
.pessoa{
    margin-top: 5%;
    float: left;
}
.de{
    color: #fff;
    font-size:larger;
}
#menu{
    margin-top: 30%;
    margin-bottom: -2%;
    height: 12vh;
}
input{
    margin-left: 15%;
}
#local{
    width: 103.5vw;
    margin-left: -5%;
    height: 10vh;
    background-color: #B08C00;
    margin-top: 25%;
}
#imlo{
    margin-left: 38%;
}
.caixaa{
    width: 92vw;
    height: 20vh;
    background-color: #B08C00;
    margin-top: 15%;
    margin-left: 2%;
    margin-bottom: -10%;
    border-radius: 10px;
    border: solid #fff 3px;
}
